.search-div{
    animation: color-change1 3s infinite;
 
}
@keyframes color-change1 {
    0% { color: black;background-color: white; }
    50% { color: white;background-color: black; }
    100% { color: black;background-color: white; }
  }


  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }
  .table-bar{
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
      width: 90%;
      border: 1px solid;
     
  }
  tr,td,th{
    border: 1px solid;
  }

  .search-here{
   margin: 0;
  }
